#MovieEditScreen hr {
    margin: 30px 0;
}

/**** List ****/
#search-bar button{
    border-radius: 0;
}

#movie-list {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
}

#movie-list th {
    color: white;
    font-weight: bold;
    background: blueviolet;
}

#movie-list table {
    border-collapse: collapse;
    width: 100%;
}
  
#movie-list th, #movie-list td {
    padding: 9px 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

  
#movie-list tr:hover {
    background-color:#f5f5f5;
}

#movie-list td:nth-child(3) {
    text-align: left;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#movie-list td:nth-last-child(1) {
    min-width: 160px;
}

#edit-button, #delete-button {
    background-color: rgba(156, 156, 156, 0.164);
    color: white;
}

#edit-button {
    margin-right: 5px;
}

#edit-button:hover {
    background-color: rgb(17, 212, 238);
    color: white;
    margin-right: 5px;
    transition: all 0.15s ease;
}

#delete-button:hover {
    background-color: rgb(17, 212, 238);
    color: white;
    transition: all 0.15s ease;
}

/**** Form ****/
#movie-edit-form {
    width: 780px;
}

#movie-edit-form button{
    margin-top: 18px;
}