#login-form {
    margin: 0 auto;
    width: 300px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#login-form  label {
    font-weight: 600;
    font-size: 18px;
}

#login-form  input {
    margin-bottom: 10px;
}

#login-form  button {
    margin-top: 30px;
    font-size: 16px;
    height: 40px;
    width: 300px;
}