body{
background-image: url("./assets/components/img/pattern.jpg");
}

* {
  box-sizing: border-box;
}

label {
  font-weight: 600;
  font-size: 18px;
}

input, textarea {
  font-size: 15px;
  width: 300px;
  border: 1px solid lightgrey;
  padding: 6px 3px;
  margin-bottom: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  border: none;
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
  padding: 7px 18px;
  background-color: rgba(211, 211, 211, 0.691);
}

.button:hover {
  background-color: greenyellow;
}

.bordered {
  border: 1px solid black;
}

/*---- layout ----*/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  margin: 30px auto;
  background-color: white;
  padding: 40px;
  min-width: 50vw;
  max-width: 75vw;
  width: fit-content;
  text-align: left;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/*---- Navbar ----*/
#nav-logo img {
  height: 65px;
}

#nav-links {
  width: 410px;
}

#nav-links ul {
  height: 45%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: white;
  height: 60px;
  padding-right: 20px;
}

#App-navigation {
  width: 100%;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}

/*---- Content ----*/
#App-content {
  flex: 1 0 auto;
}

/*---- Footer ----*/
h1 {
  text-align: center;
}

#App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}

footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 55px;
  justify-content: center;
  padding: 10px;
  width: auto;
}